<div class="container">
  <h1>Cheering Mascot</h1>
  <% if @sign_text %>
    <p>Sign says: "<span id="sign_text"><%= @sign_text %></span>"</p>
  <% end %>

  <!-- this form sends data (the <input> elements) to the
       URL '/grandma' using the HTTP verb 'post', which
       matches the 'post /grandma' route defined in
       app/controller/index.rb -->
  <form action="/cheers" method="post">
    Call out a cheer:
    <br>
    <input type="text" name="cheer">
    <input type="submit" value="Call it out!">
  </form>
</div>
